﻿@model IEnumerable<CustomerSupport.Models.ListTicketViewModel>
<br />
<h4>All active tickets</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="@(item.Urgent ? "Background-color:rgba(255,0,0,0.5)" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                
                <button onclick="location.href = '@Url.Action("Edit", "Ticket", new {id = item.Id})';return false;"style = "float:left;"> Edit </button> 
                @using (Html.BeginForm("Delete", "Ticket", new {id = item.Id}))
                {
                    <button style = "float:left;">Delete</button>
                }
            </td>
        </tr>
    }
</table>